// Variables

$osoc-green: #229387;

// new colors

$color-green: #7ab800;
$color-red: #ff3333;
$color-blue: #00a5e0;
$color-dark-grey: #2D2D2D;
$color-light-grey: #3F3F3F;

$color-white: #FFF;

/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* =============================
* STYLES
* ============================== */

html, body{
  font-family: 'Lato', sans-serif;

  color: $color-dark-grey;
}

a{
  color: $color-light-grey;
  text-decoration: underline;

  &:hover {
    color: $color-dark-grey;
  }
}

#intro {
  background-color: $osoc-green;

  h1 {
    margin-top: 90px;
  }

  p {

  }
}

#subscribe {
  h2 {

  }

  p {

  }
}

#meeting {
  h2 {

  }

  p {

  }
}

#getting-started {
  h2 {

  }

  p {

  }
}

#validate {
  h2 {

  }

  p {

  }
}

#faq {
  h2 {

  }

  p {

  }
}

#partners {
  h2 {

  }

  p {

  }
}

#footer {
  background-color: $osoc-green;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
/* =============================
* MEDIA QUERIES
* ============================== */

/* Smartphones */
@media screen and (max-width: 480px){

}

/* ===============================
* BOOTSTRAP OVERRIDES
*================================= */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 960px;
}