/* =============================
* CLEARFIX
* ============================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ===============================
* BOOTSTRAP OVERRIDES
*================================= */
.row {
  margin-left: 0;
  margin-right: 0; }

.container {
  max-width: 805px; }

.header-container {
  max-width: 965px; }

.btn {
  background-color: #FFFFFF;
  color: #7ab800;
  border-color: #7ab800; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #EFEFEF;
    border-color: #7ab800;
    color: #7ab800;
    box-shadow: none;
    outline: none; }

.form-control {
  border-color: #7ab800;
  color: #2D2D2D;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .form-control:focus {
    color: #2D2D2D;
    border-color: #7ab800;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn, .form-control {
  transition: all 0.3s; }

textarea {
  resize: vertical;
  color: #2D2D2D;
  font-family: "Courier New", Courier, monospace; }
  textarea:focus {
    background-color: #EFEFEF; }

.divider {
  border-color: #CFCFCF; }

.panel .panel-heading {
  background-color: #EFEFEF;
  border-color: #CFCFCF; }
.panel .panel-body {
  background-color: #FFFFFF;
  border-color: #CFCFCF; }

/* =============================
* STYLES
* ============================== */
html, body {
  font-family: 'Lato', sans-serif;
  color: #2D2D2D;
  background-color: #FAFAFA; }

h1, h2, h3 {
  font-weight: bold; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-top: 0.5em; }

a {
  color: #00a5e0; }
  a:hover, a:active {
    color: #00a5e0; }

.container .section {
  margin-bottom: 3em; }

#intro {
  background-color: #FFFFFF;
  border-bottom: 1px solid #CFCFCF;
  color: #7ab800;
  padding-bottom: 20px;
  padding-top: 90px; }
  #intro h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0; }
  #intro h2 {
    margin-top: 0; }
  #intro p {
    font-size: 1.1em;
    margin-bottom: 0.3em; }
    #intro p.intro-description {
      font-style: italic; }
  #intro .form-control {
    background-color: #FFFFFF;
    color: #7ab800;
    border-color: #7ab800;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #intro .form-control:focus {
      color: #7ab800;
      background-color: #EFEFEF;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #intro .form-group {
    margin-bottom: 0.5em; }

#meeting {
  padding-top: 20px; }
  #meeting h2 {
    margin-top: 0; }
  #meeting .list-group .list-group-item {
    padding: 5px 15px;
    position: relative;
    color: #2D2D2D;
    border-color: #CFCFCF;
    transition: all 0.2s; }
    #meeting .list-group .list-group-item .arrow-right {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
      transition: all 0.3s; }
    #meeting .list-group .list-group-item:hover {
      background-color: #EFEFEF; }
      #meeting .list-group .list-group-item:hover .arrow-right {
        position: absolute;
        top: 1.5em;
        right: 1em;
        color: #00a5e0; }

#basics .code-example {
  font-family: "Courier New", Courier, monospace;
  font-size: .8em; }
  #basics .code-example p {
    white-space: pre;
    margin-bottom: 0; }
#basics .code-details {
  font-size: 1.2em;
  font-weight: bold; }
#basics .code-details-fullwidth {
  margin-bottom: 1.5em; }

#footer {
  background-color: #2D2D2D;
  color: #7ab800; }
  #footer p {
    margin-top: 1em;
    margin-bottom: 1em; }
  #footer a, #footer a:active, #footer a:hover, #footer a:focus {
    color: #7ab800;
    style: underline; }

/* =============================
* MEDIA QUERIES
* ============================== */
/* Smartphones */
.form-control::-webkit-input-placeholder {
  color: #ccc; }

.form-control:-moz-placeholder {
  color: #ccc;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #ccc; }

.form-control:-ms-input-placeholder {
  color: #ccc; }

/*# sourceMappingURL=default.css.map */
