// Variables
$osoc-green: #229387;

// new colors
$color-green: #7ab800;
$color-light-green: lighten( $color-green, 5% );
$color-dark-green: darken( $color-green, 10% );
$color-red: #ff3333;
$color-blue: #00a5e0;
$color-dark-grey: #2D2D2D;
$color-light-grey: #3F3F3F;

$color-white: #FFFFFF;
$color-med-white: #FAFAFA;
$color-dark-white: #EFEFEF;
$color-darkest-white: #CFCFCF;

/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* ===============================
* BOOTSTRAP OVERRIDES
*================================= */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 805px;
}

.header-container {
  max-width: 965px;
}



.btn {
  background-color: $color-white;
  color: $color-green;
  border-color: $color-green;

  &:hover, &:active, &:focus {
    background-color: $color-dark-white;
    border-color: $color-green;
    color: $color-green;
    box-shadow: none;
    outline: none;
  }
}

.form-control{
  border-color: $color-green;
  color: $color-dark-grey;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus{
    color: $color-dark-grey;
    border-color: $color-green;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn, .form-control {
  transition: all 0.3s;
}

textarea {
  resize: vertical;
  color: $color-dark-grey;
  font-family: "Courier New", Courier, monospace;

  &:focus {
    background-color: $color-dark-white;
  }
}

.divider {
  border-color: $color-darkest-white;
}

.panel {
  .panel-heading {
    background-color: $color-dark-white;
    border-color: $color-darkest-white;
  }

  .panel-body {
    background-color: $color-white;
    border-color: $color-darkest-white;
  }
}

/* =============================
* STYLES
* ============================== */

html, body{
  font-family: 'Lato', sans-serif;
  color: $color-dark-grey;
  background-color: $color-med-white;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
}

a{
  color: $color-blue;

  &:hover, &:active {
    color: $color-blue;
  }
}

.container {
  .section {
    margin-bottom: 3em;
  }
}

#intro {
  background-color: $color-white;
  border-bottom: 1px solid $color-darkest-white;
  color: $color-green;
  padding-bottom: 20px;
  padding-top: 90px;

  h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1.1em;
    margin-bottom: 0.3em;

    &.intro-description {
      font-style: italic;
    }

  }

  .form-control{
    background-color: $color-white;
    color: $color-green;
    border-color: $color-green;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus{
      color: $color-green;
      background-color: $color-dark-white;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .form-group {
    margin-bottom: 0.5em;
  }
}

#meeting {
  padding-top: 20px;
  h2 {
    margin-top: 0;
  }

  p {

  }

  .list-group {

    .list-group-item {
      padding: 5px 15px;

      position: relative;
      color: $color-dark-grey;
      border-color: $color-darkest-white;
      transition: all 0.2s;

      .arrow-right {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        transition: all 0.3s;
      }

      &:hover {
        background-color: $color-dark-white;

        .arrow-right {
          position: absolute;
          top: 1.5em;
          right: 1em;
          color: $color-blue;
        }
      }
    }
  }


}

#getting-started {
  h2 {

  }

  p {

  }
}

#basics {
  .code-example {
    font-family: "Courier New", Courier, monospace;
    font-size: .8em;

    p {
      white-space: pre;
      margin-bottom: 0;
    }
  }

  .code-details {
    font-size: 1.2em;
    font-weight: bold;
  }

  .code-details-fullwidth {
    margin-bottom: 1.5em;
  }
}

#validate {
  h2 {

  }

  p {

  }
}

#faq {
  h2 {

  }

  p {

  }
}

#partners {
  h2 {

  }

  p {

  }
}

#footer {
  background-color: $color-dark-grey;
  color: $color-green;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a, a:active, a:hover, a:focus {
    color: $color-green;
    style: underline;
  }
}
/* =============================
* MEDIA QUERIES
* ============================== */

/* Smartphones */
@media screen and (max-width: 480px){

}
.form-control::-webkit-input-placeholder { color: #ccc; }
.form-control:-moz-placeholder { color: #ccc; opacity: 1;}
.form-control::-moz-placeholder { color: #ccc; }
.form-control:-ms-input-placeholder { color: #ccc; }